.button-class {
  padding: 16px 32px;
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 18px;
  margin: 4px 2px;
  background-color: white;
  color: black;
  border: solid rgb(252, 106, 106);
}

.pokemon-list {
  list-style-type: none;
  text-align: center;
}

body {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
}

  .btn {
    color: rgb(253, 253, 253);
  }