.button-class {
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: solid rgb(215, 179, 245);
}

  .pokemon-list {
    list-style-type: none;
    text-align: center;
  }

  h2 {
    color: blueviolet;
    text-align: center;
  }

  body {
    font-family: 'EB Garamond', serif;
    font-weight: 400;

  }